@charset "ISO-8859-1";


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    max-width: 20000px;
}
body {
    display: flex;
    height: 100vh; /* Defina a altura da tela como 100% da viewport height */
  }
  
  @media (max-width: 1517px) {
    body {
      height: 100% !important;
    
    }
  }

.sidebar{
    position: static;
    top: 0;
    left: 0;
    bottom: 0;
    width: 92px;
   
    padding: -1px 1.7rem;
    color: #fff;
    overflow: hidden;
    transition: all 0.5s linear;
    background-color: #102447;

}

.sidebar:hover{
    width: 35%;
    padding: 16px;
    transition: 0.5s;

}

.logo{
    height: 80px;
    padding: 16px;
}

.menu{
    height: 88%;
    position: relative;
    list-style: none;
    padding: 0;
   
}
.menu li {
    padding: 1rem;
    margin: 16px 0;
    border-radius: 8px;
    transition: all 0.5s ease-in-out;
}
.menu li:hover, .active 
{
   background: rgb(102, 0, 255);
}

.menu a{
    color: #e7b315;
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.menu a span{
    overflow: hidden;
}.menu a i{
    font-size: 1.2rem;
}

.logout{
    padding: 1rem;
    margin: 16px 0;
    border-radius: 8px;
    transition: all 0.5s ease-in-out;

}

.main--content{
    width: 100%;
 
    position: relative;
    background-color: #cfb8b8;
    width: 100%;
    padding: 1rem;
}
.header--wrapper img{
  width: 50px;
  height: 50px;
  cursor: pointer;
  border-radius: 50%;
}
.header--wrapper {
 display: flex;
 justify-content: space-between;
 align-items: center;
 flex-wrap: wrap;
 background:#fff;
 border-radius: 10px ;
 padding: 10px 2rem;
}
.header--title{
    color:black;
    font-size: 22px;
}
.user--info{
   display: flex;
   align-items: center;
   gap: 20px;
}
.searh--box{
    background-color: rgb(216, 203, 203);
    border-radius: 15px;
    color: black;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 4px 12px;
}
.searh--box input{
  background-color: transparent;
  padding: 10px;

}

.searh--box i{
    font-size: 1.2rem;
    cursor: pointer;
    transition: all 0.5s ease-out;
}

.searh--box i:hover{
    transform: scale(1.3);
}


/* sessão dos card dashbord */

.section--container{
   margin-top: 12px;
   padding: 2rem; 
   height: 83vh;
   background-color: #fff;
   border-radius: 10px;
}

.card--wrapper{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;

}

.main--title{
    color: black;
    padding-bottom:10px ;
    font-size: 33px;
}
.payment--card{
    background-color: rgb(229, 223, 223);
    border-radius: 10px;
    padding: 1.2rem;
    width: 319px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all 0.5s ease-in-out;
}
.payment--card:hover{
    transform: translateY(-10px);

}
.card-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.card-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  
}
.amount{
    display: flex;
    flex-direction: column;
}
.amount-value{
   font-size: 33px;
  font-weight: 800;
  text-align: center;
}
.title{
    font-size: 21px;
    font-weight: 700;
}
.card-header i{
     color:#fff ;
     padding: 1rem;
     height:60px;
     width: 60px;
     text-align: center;
     border-radius: 50%;
     background-color: #102447;
     font-size: 1.2rem;
}
/* Modal */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
  }
  
  .modal-content {
    background-color: #fff;
    margin: 20% auto;
    padding: 20px;
    width: 60%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    position: relative;
  }
  
  .close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    cursor: pointer;
  }
  
  .close:hover {
    color: #f00;
  }